#description-container
    display: grid
    grid-template-rows: 1fr 1fr 6fr 2fr

#emails-description
    margin: 1rem 2rem 0 2rem
    border: 1px solid

#tags
    display: flex
    flex-direction: row
    border: 1px solid

#tags-buttons
    display: flex
    flex-direction: row
    margin: auto

#description-title
    border: 1px solid

#footage
    border: 1px solid
